// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 33.333%;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

img {
  margin: 0px;
  padding: 0px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
}

.card-trip-infos {
  background-color: #F8F9FA;
  padding: 24px;
  width:100%;
  height:170px;

}

#blue {
  color: #0C7DFF;
}

#yellow {
  color: #FFC62E;
  padding-right: 6px ;
  padding-left: 6px;
}

#red {
  color: #DC3645;
}

.bottom {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
}

.text-primary:hover {
  text-decoration: none;
}
